@{
    ViewBag.Title = "Organize it!";
}
<div class="col-md-pull-8">
    <div class=" text-center">
        <h1>ORGANIZE IT</h1>
        <h1>WITH TO DO LISTS</h1>

        <br />

        <div class="center-block">
            <input type="button" value="Start Now!" class="alert-danger" onclick="@("window.location.href='" + @Url.Action("Index", "ToDoes") + "'");" />

        </div>
    </div>
</div>




